<header class="site-header">
    <div class="header-inner">
      <div class="header-left">
        <img src="/images/palm-icon.png" alt="City logo" />
      </div>
  
      <nav class="header-nav">
        <a href="/">Home</a>
        <a href="/about">About Us</a>
        <a href="/profile">Your Profile</a>
        <a href="/safety">Safety</a>
        <a href="/business">Business & Development</a>
      </nav>
    </div>
  </header>
  